---
import { TherapyChatClient } from './TherapyChatClient'
---

<div class="min-h-screen bg-gradient-to-b from-gray-900 to-black text-gray-100">
  <div class="mx-auto max-w-4xl p-4">
    <TherapyChatClient client:load />
  </div>
</div>
