---
import BaseLayout from '@/layouts/BaseLayout.astro'
import StandardLayout from '@/layouts/StandardLayout.astro'
import SpinningGlobe from '@/components/widgets/SpinningGlobe.astro'

// Add prerender directive to generate static HTML during build
export const prerender = true
---

<BaseLayout
  title="Gradiant Ascent"
  description="Welcome to Gradiant Ascent - the premier destination for all things related to the world of AI-assisted emotional intelligence."
  bgType="plum"
>
  <StandardLayout isCentered={true}>
    <div class="flex flex-col items-center justify-center mt-20">
      <SpinningGlobe />

      <div
        class="prose text-center slide-enter"
        style="--enter-stage: 1; animation-duration: 1.2s;"
      >
        <p>
          Gradiant Ascent will become the premier destination<br />
          for all things related to the world of AI-assisted emotional intelligence.
        </p>
        <br />
        <p>Coming Soon - 04.04.2025</p>
      </div>
  </div>
  </StandardLayout>
</BaseLayout>

<style>
  .slide-enter {
    --enter-stage: 0;
    --enter-step: 150ms;
    --enter-initial: translateY(20px);
    animation: slide-enter 1s ease both;
    animation-delay: calc(var(--enter-stage) * var(--enter-step));
  }

  @keyframes slide-enter {
    0% {
      transform: var(--enter-initial);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>
