---
import type { HTMLAttributes } from 'astro/types'


type Props = HTMLAttributes<'div'>

const { } = Astro.props
---

<div
  data-slot="card-footer"
  class={cn('flex items-center px-6 [.border-t]:pt-6', className)}
  {...props}
>
  <slot />
</div>
