---
import type { HTMLAttributes } from 'astro/types'


type Props = HTMLAttributes<'div'>

const { } = Astro.props
---

<div data-slot="card-content" class={cn('px-6', className)} {...props}>
  <slot />
</div>
