---
import type { HTMLAttributes } from 'astro/types'


type Props = HTMLAttributes<'div'>

const { } = Astro.props
---

<div
  data-slot="card-description"
  class={cn('text-muted-foreground text-sm', className)}
  {...props}
>
  <slot />
</div>
