---
import type { HTMLAttributes } from 'astro/types'


export type Props = HTMLAttributes<'label'>

const { } = Astro.props
---

<label
  class={cn(
    'text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70',
    className,
  )}
  {...props}
>
  <slot />
</label>
